<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>PyBin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">


    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }







    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/static/img/logo.png" height="35" width="35">&nbsp;
                &nbsp;PyBin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Add Paste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view">View Pastes</a>
                    </li>
                </ul>
               <form class="d-flex" action="/search" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">


        <!--Here-->

        <div class="base-block">
            <div class="title">Public Pastes</div>

            <img src="/static/img/code.png" height="100" width="100">&nbsp;<font size="5">Code Archive</font>
            <div class="table-responsive">
                <Br><Br>
                <table width="100%" Height="" id="archvie" border="0" class="table table-sm table-dark">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Views</th>
                        <th scope="col">Syntax</th>
                    </tr>
                    </thead>
                    {% for post in posts.items %}
                    <tbody>
                    <tr class="table-light">
                        <th scope="row"><a href="../p/{{ post.post_id }}">{{ post.post_id }}</a></th>
                        <td>{{ post.post_title }}</td>
                        <td>{{ date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ post.post_hits }}</td>
                        <td>{{ post.post_syntax }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>

                </table>
                <!-- Pagination Links-->
                <br>
                <div class="text-right">
                    <a href="{{ url_for('view_all', page=posts.prev_num) }}"
                       class="btn btn-outline-dark
       {% if posts.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a>
                    <!-- Loop through the number of pages to display a link for each-->
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    <!-- Check for the active page and set the link to "Active"-->
                    {% if posts.page == page_num %}
                    <a href="{{ url_for('view_all', page=page_num) }}"
                       class="btn btn-dark">
                        {{ page_num }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('view_all', page=page_num) }}"
                       class="btn btn-outline-dark">
                        {{ page_num }}
                    </a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                    <a href="{{ url_for('view_all', page=posts.next_num) }}"
                       class="btn btn-outline-dark
       {% if posts.page == posts.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ posts.page }} of {{ posts.pages }}
                </p>
            </div>

        </div>

        <!--/base-block-->


</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <cetnter>
                <span class="text-muted">
                    <center>Powered by Python</center>
                </span>
        </cetnter>
    </div>
</footer>

<script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
