flask
flask_migrate
flask_sqlalchemy
flask_login
flask_bootstrap
flask_wtf
flask_bcrypt
flask_simplemde
schedule
flask_paginate
werkzeug
pysqlite3
rstr
flask_sqlalchemy
flask-paginate
schedule
gunicorn
flask-login
requests

certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
